.rocket {
    outline: 1px solid black;
    display: flex;
    margin:0 4%;
    margin-bottom:2%;
}

.frame {
    width:300px;
    margin-right:1.5%;
}

.image {
    width:300px;
}

.infor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}